.instru-carousel-item-img-1 {
    background: url('../../assets/instructorate/slider1.jpg');
}
.instru-carousel-item-img-2 {
    background: url('../../assets/instructorate/slider2.jpg');
}
.instru-carousel-item-img-3 {
    background: url('../../assets/instructorate/slider3.jpg');
}
.instru-carousel-item-img-4 {
    background: url('../../assets/instructorate/slider4.jpg');
}
.instru-carousel-item-img-5 {
    background: url('../../assets/instructorate/slider5.jpg');
}