/* Slider */

.carousel-item {
    min-height: 700px;
    max-height: 90vh;
}

.carousel-item-img-1 {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/frente.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item-img-2 {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/home/slider/SLIDER2.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item-img-3 {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/home/slider/SLIDER3.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item-img-4 {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/home/slider/SLIDER4.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-img-description {
    width: 100%;
    height: auto;
    border: solid;
}

/* Description */

@media (min-width: 992px) {
    .home-text-description {
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .home-container-description {
        margin-bottom: 40px;
    }
    .home-text-description {
        text-align: justify;
    }
}

/* Categories */

.home-category-box {
    position: relative;
    width: auto;
    height: 200px;
    margin: 15px;
    background-color: green;
}

.home-category-box h1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 28px;
    text-align: center;
}

/* OLD Index */
/*
.carousel-item {
    height: 600px;
}

.first-slide{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/visionholistica/frente-verano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.second-slide{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/psicologia/P1110627.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.third-slide{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../assets/quienesomos/P1110644.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-description {
    margin-top: 40px;
}

.home-description p {
    text-align: justify;
    text-indent: 2em;
}

.home-title {
    text-align: center;
    color: green;
    font-family: monospace !important;
}

@media (min-width: 992px) {
    .home-title {
        font-size: 36px;
    }
    .home-des-img-1 div, .home-des-img-2 div{
        margin: 0 0 20px 20px;
    }
    .home-des-img-2 div {
        margin: 0px 20px 20px 0px;
    }
    .home-des-text-1, .home-des-text-3 {
        padding-right: 20px !important;
    }
    .home-des-text-2 {
        padding-left: 20px !important;
    }
}
@media (max-width: 991px) {
    .home-title {
        font-size: 28px;
    }
    .home-description p {
        font-size: 14px;
    }
    .home-description p {
        margin: 20px 0px;
    }
    .home-des-text-1 {
        order: 1;
    }
    .home-des-img-1 {
        order: 2;
    }
    .home-des-text-2 {
        order: 3;
    }
    .home-des-img-2 {
        order: 4;
    }
    .home-des-text-3 {
        order: 5;
    }
    .home-des-img-3 {
        order: 6;
    }
}

.home-des-img-1 div {
    background-image: url('../../assets/chinesemedicine.jpg') ;
    height: 150px;
}

.home-des-img-2 div {
    height: 100%;
    min-height: 300px;
    background-image: url('../../assets/7chackras.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-des-img-3 div {
    height: 100%;
    min-height: 300px;
    margin: 0 25%;
    background-image: url('../../assets/manos.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center none;
}
*/