/* Slider */

.carousel-item-img-1 {
    background: url('../../assets/home/slider/slider1.jpg');
}
.carousel-item-img-2 {
    background: url('../../assets/home/slider/slider2.jpg');
}
.carousel-item-img-3 {
    background: url('../../assets/home/slider/slider3.jpg');
}
.carousel-item-img-4 {
    background: url('../../assets/home/slider/slider4.jpg');
}
.carousel-item-img-5 {
    background: url('../../assets/home/slider/slider5.jpg');
}
.carousel-item-img-6 {
    background: url('../../assets/home/slider/slider6.jpg');
}

.home-img-description {
    width: 100%;
    height: auto;
    border: solid;
}

/* Description */

@media (min-width: 992px) {
    .home-text-description {
        padding-right: 20px;
    }
    .video-description {
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 991px) {
    .home-container-description {
        margin-bottom: 40px;
    }
    .home-text-description {
        text-align: justify;
    }
}

/* Categories */

.home-category-box {
    position: relative;
    width: auto;
    height: 200px;
    margin: 15px;
    background-color: green;
    border: solid;
    background-size: 100% 100%;
}

.home-category-box h1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 28px;
    text-align: center;
    color: white;
    
}

/* Buttons */
.home-buttons a{
    text-decoration: none;
    color: black;
}
.button-psico {
    background-image: url('../../assets/home/buttonPsico.JPG');
    height: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}
.button-acup {
    background-image: url('../../assets//home/buttonAcup.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}
.button-metod {
    background-image: url('../../assets/home/buttonMetod.jpg');
}
.button-masaj {
    background-image: url('../../assets/home/buttonMasaj.jpg');
}
.button-taichi {
    background-image: url('../../assets/home/buttonTaichi.jpg');
}
.button-qui {
    background-image: url('../../assets/home/buttonQui.jpg');
}
.button-lect {
    background-image: url('../../assets/home/buttonLect.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}
.button-instru {
    background-image: url('../../assets/home/buttonInstru.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}