.taichi-carousel-item-img-1 {
    background: url('../../assets/taichichuan/slider1.jpg');
}
.taichi-carousel-item-img-2 {
    background: url('../../assets/taichichuan/slider2.jpg');
}
.taichi-carousel-item-img-3 {
    background: url('../../assets/taichichuan/slider3.jpg');
}
.taichi-carousel-item-img-4 {
    background: url('../../assets/taichichuan/slider4.jpg');
}
.taichi-carousel-item-img-5 {
    background: url('../../assets/taichichuan/slider5.jpg');
}
.taichi-carousel-item-img-6 {
    background: url('../../assets/taichichuan/slider6.jpg');
}