.chickung-carousel-item-img-1 {
    background: url('../../assets/chickung/slider1.jpg');
}
.chickung-carousel-item-img-2 {
    background: url('../../assets/chickung/slider2.jpg');
}
.chickung-carousel-item-img-3 {
    background: url('../../assets/chickung/slider3.jpg');
}

.chickung-final-text {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}
