.information-description {
    margin-top: 40px;
}

.information-description p {
    text-indent: 2em;
}

.information-title {
    text-align: center;
    color: black;
}
.info-carousel-item-img-1 {
    background: url('../../assets/information/slider1.jpg');
}
.info-carousel-item-img-2 {
    background: url('../../assets/information/slider2.jpg');
    max-height: 450px !important;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
