.information-description {
    margin-top: 40px;
    margin: 0 8%;
}

.information-description p {
    text-align: justify;
    text-indent: 2em;
}

.information-title {
    text-align: center;
    color: black;
}
.info-carousel-item-img-1 {
    background: url('../../assets/information/slider1.jpg');
}
.info-carousel-item-img-2 {
    background: url('../../assets/information/slider2.jpg');
}
