.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 200px;
    background-color: rgb(33,33,33);
}

@media (max-width: 991px) {
    .footer {
        height: 350px;
    }
}

@media (max-width: 575px) {
    .footer-text p {
        font-size: 5vw !important;
    }
}