.page-container {
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    padding-bottom: 200px;
}

.box-shadow, .home-category-box {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.42);
}

.sangria {
    text-indent: 1.5em;
}

.carousel-secondary {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    min-height: 700px;
    max-height: 90vh;
    overflow: hidden;
    border: solid 1px #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel-inner {
    background: black;
}

.btn {
    background-color: rgb(0, 41, 18) !important;
    padding: 0px !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.logo-practice {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid;
}