body {
  margin: 0;
  font-family: 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3c2a8 !important;
}

@media (min-width: 992px) {
  .text {
    font-size: 28px !important;
  }
  p {
    line-height : 35px;
  }
}
@media (max-width: 991px) {
  .text {
    font-size: 18px !important;
  }
  p {
    line-height : 20px;
  }
}

